<header class="site-header" style="background: url('https://i.ibb.co/SfQXhHx/header-strip.png') no-repeat; background-size: cover;">
    <div class="container">
        <div class="navbar">
            <div class="navbar-left">
                {{> logo}}
            </div>
            <div class="navbar-right">
                {{#if @site.navigation}}
                    <nav class="main-nav hidden-xs hidden-sm hidden-md">
                        {{navigation}}
                    </nav>
                    {{> burger}}
                    {{> mobile-menu}}
                {{/if}}
            </div>
        </div>
    </div>
</header>