<header class="site-header" style="background-color: transparent; margin-bottom: -100px; z-index: 20;">
    <div>
        <div class="navbar">
            <div class="navbar-left">
                {{> logo}}
            </div>
            <div class="navbar-right">
                {{#if @site.navigation}}
                    <nav class="main-nav hidden-xs hidden-sm hidden-md">
                        {{navigation}}
                    </nav>
                    {{> burger}}
                    {{> mobile-menu}}
                {{/if}}
            </div>
        </div>
    </div>
</header>