<a class="logo" href="https://chips.cash">
    {{#if @site.logo}}
        <img class="logo-image" src="{{@site.logo}}" alt="{{@site.title}}">
    {{else}}
        <span class="logo-text">{{@site.title}}</span>
    {{/if}}
</a>