.burger {
    position: absolute;
    top: 2.5%;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.burger-bar {
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
    background-color: var(--light-gray-color);
    z-index: 100;
}

.menu-opened .burger .burger-bar:first-child {
    transform: rotate(45deg);
    background-color: var(--primary-text-color);
}

.menu-opened .burger .burger-bar:nth-of-type(2) {
    opacity: 0;
    transform: translateX(20px);
}

.menu-opened .burger .burger-bar:last-child {
    transform: rotate(-45deg);  
    background-color: var(--primary-text-color);  
}
