.mobile-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--light-gray-color);
    height: 100vh;
    text-align: left;
    padding: 0.5rem;
    padding-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    width: 100%;
}

.mobile-menu .menu-item {
    font-size: 20px;
    text-transform: uppercase;
    padding: 2rem 0;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-decoration: none;
    color: var(--primary-text-color);
    text-align: center;
}

.mobile-menu .menu-item + .menu-item {
    margin-top: 18px;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
}

.menu-opened .mobile-menu {
    display: block;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
